.footer {
  background-color: #2F585A;
  color: #FFFFFF;
  padding: 20px 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  height: 254.15px;

  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-column {
    flex: 1;
    padding: 0 15px;

    h3 {
      width: 160px;
      height: 24.92px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 10px;
      color: #FF6B00;
    }
  }

  .footer-link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;

    &:hover {
      color: #F4A261;
    }
  }

  .footer-top {
    width: 100%;
    height: 44.85px;
    background-color: #0C3C3E;
    margin-bottom: 0;
  }

  .footer-social-link {
    flex: 1;
    padding: 0 15px;

    h3 {
      width: 160px;
      height: 24.92px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 10px;
      color: #FF6B00;
    }
  }

  .social-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;

    .footer-link {
      display: flex;
      align-items: center;
      flex: 0 0 calc(33.33% - 6.67px);
      justify-content: center;
    }
  }

  .footer-download-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 3px;

    .footer-link {
      display: flex;
      align-items: center;

      &.app-store img {
        margin-left: 150px;
        width: 70px;
        height: 22px;
        border-radius: 5px;
      }
    }
  }
}