.header-container {
  width: 100%;
}

.top-bar {
  width: 100%;
  height: 45px;
  background-color: #0C3C3E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
}

.top-nav {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 40px;
}

.top-nav .nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  line-height: 20px;
}

.top-nav .nav-link:hover {
  color: #F4A261;
}

.top-banner {
  height: 45px;
  width: 200px;
}

.top-banner img {
  height: 100%;
  width: 540px;
  object-fit: contain;
}

.user-profile-icon {
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.user-profile-icon img {
  width: 27px;
  height: 27px;
  object-fit: contain;
}

.user-profile-icon:hover {
  color: #F4A261;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: rgb(26, 67, 69);
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  height: 70px;
}

.logo-block {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #0C3C3E;
  width: 180px;
  height: 63px;
  border-radius: 10px;
  margin-top: -20px;
  margin-left: 40px;
  position: relative;
  z-index: 1; 
}

.header-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.logo-block img:last-child {
  height: 20px;
  width: auto;
  margin-left: 10px;
  margin-right: 20px;
}

.catalog-container {
  margin-left: 60px;
}

.catalog-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.catalog-link img {
  width: 30px;
  height: 30px;
  margin-right: 2px;
}

.catalog-link:hover {
  color: #F4A261;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
  margin-left: 200px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #3c5e60;
  border-radius: 10px;
  overflow: hidden;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  font-size: 14px;
  width: 400px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #FFFFFF;
  border-radius: 10px;
}

.search-input::placeholder {
  color: #FFFFFF;
}

.search-button {
  background-color: #00000000;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  margin-left: 25%;
}

.search-button img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.user-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language {
  font-size: 14px;
  font-weight: 500;
}

.icon-group {
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.icon:hover {
  color: #F4A261;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');