.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  .main-content {
    display: flex;
    flex: 1;
    position: relative;
    background-color: #F9F9F9;
  }

  .sidebar {
    width: 320px;
    flex-shrink: 0;
  }

  .divider {
    border-left: 1px solid #000;
    background-color: #F9F9F9;
    height: 750px;
    position: absolute;
    left: 330px;
    top: 10px;
  }

  .content-area {
    flex: 1;
    padding: 20px;
    background-color: #F9F9F9;
    margin-left: 10px;
  }

  .profile-modal {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: calc(100vw - 40px);
    left: auto;
    right: 20px;
    transform: translateY(10px);
  }
}