.product-list, .custom-product-list, .custom-product-list2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  max-width: 100%;
}

.separator-container {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.separator-text {
  font-family: 'Inter', sans-serif;
  font-weight: medium;
  font-size: 24px;
  color: #FF6B00;
  width: 177px;
  height: 30px;
  display: block;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

.separator-line {
  width: calc(870px - 88.5px);
  height: 2px;
  background: linear-gradient(to right, #FF6B00 0%, #FFD8BC 100%);
  position: absolute;
  top: 35px;
  left: 170px;
}

.separator-line2 {
  width: calc(910px - 110px);
  height: 2px;
  background: linear-gradient(to right, #FF6B00 0%, #FFD8BC 100%);
  position: absolute;
  top: 35px;
  left: 130px;
}

.progress-bar {
  width: 85%;
  height: 2px;
  background-color: #e0e0e0;
  margin: 10px auto 20px;
  border-radius: 2px;
  margin-left: 15px;
  margin-top: -10px;
}

.progress-fill {
  height: 100%;
  background-color: #000;
  transition: width 0.5s ease-in-out;
  border-radius: 2px;
}

.custom-separator {
  width: 653px;
  height: 2px;
  background: linear-gradient(to right, #FFDFC7, #FF6B00, #FFDFC7);
  margin: 20px auto;
  margin-left: -10px;
}

.custom-banner {
  width: 950px;
  height: 225px;
  margin: 20px auto;
  overflow: hidden;
}

.custom-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.custom-product-list2 {
  margin-left: -222px;
}

.custom-product-list {
  margin-left: -5px;
}

.custom-product-list > div {
  flex-basis: calc(25% - 7.5px);
  box-sizing: border-box;
}

.custom-product-list > .custom-separator,
.custom-product-list > .custom-banner {
  flex-basis: 100%;
}

.custom-product-list > .custom-separator + div {
  margin-left: 0;
}