.product-card {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
  background-color: #F9F9F9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 215px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product-image-container {
  position: relative;
  width: calc(100% - 15px);
  height: 150px;
  margin-bottom: 10px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}

.product-image {
  object-fit: contain;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.product-name {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5;
  height: 60px;
}

.product-details {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.product-rating {
  display: flex;
  align-items: center;
}

.rating-star {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.rating-value {
  font-size: 15px;
  color: #808080;
}

.product-old-price {
  font-size: 15px;
  color: #545454;
  text-decoration: line-through;
}

.product-new-price {
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #000000;
  display: block;
}

.product-fee {
  font-size: 14px;
  color: #F9F9F9;
  background-color: #1a3c3e;
  padding: 10px 0;
  border-radius: 0 0 8px 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.bonus-icons {
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background-color: transparent;
  object-fit: contain;
  border: none;
}

.top-buttons {
  position: absolute;
  top: 7px;
  right: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart-button {
  position: absolute;
  bottom: 35px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-icon-cart {
  width: 45px;
  height: 35px;
  object-fit: contain;
}

.action-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.button-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}