.sidebar {
  width: 320px;
  padding: 10px;
  background-color: #F9F9F9;
  color: rgb(0, 0, 0);
}

.sidebar-link {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar-link:hover {
  color: #f4a261;
}